html, body {
    margin: 0;
    padding: 0;
}
.App {
    padding: 20px;
    height: 100vh;
}
button {
  margin: 10px 0;
  cursor: pointer;
  padding: 5px 8px;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}
.wrapper {
  display: flex; 
  justify-content: space-evenly; 
  flex-wrap: wrap;
  max-width: 480px;
  border-radius: 7px;
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
  background: #fcfcfa;
  padding: 20px 0px 10px 20px;
}
span {
  padding: 15px;
}
